[submodule "PolyHook"]
	path = PolyHook
	url = git@github.com:stevemk14ebr/PolyHook.git
[submodule "capstone"]
	path = capstone
	url = https://github.com/stevemk14ebr/capstone
[submodule "spdlog"]
	path = spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "ini-parser"]
	path = ini-parser
	url = https://github.com/Poordeveloper/ini-parser.git
